body{
    font-family: 'Plus Jakarta Display', sans-serif;
}

.nav-link{
    color: #302cff;
    /* font-weight: bold; */
    padding-right: 30px;
}
.pill-button{
    background-color: #302cff;
    border: none;
    color: white;
    border-radius:10px ;
    padding: 16px 22px;
    box-shadow: 0 2px 8px 0 rgba(48, 44, 255, 0.1);
    text-align: center;
    font-weight: bold;
    transition: width 2s;

}


.icon-holder{
    width: 100px;
    height: 100px;
    /* background-color: rgba(0, 128, 0, 0.616); */
    background-color: #302cff27;
    border-radius: 10px;
    margin: auto;
}
.primary-button{
    background-color: transparent;
    border: 1px solid #302cff;
    color: #302cff;
    border-radius:10px ;
    padding: 16px 22px;
    box-shadow: 0 2px 8px 0 rgba(48, 44, 255, 0.1);
    width: 100%;
    text-align: center;
    transition: width 1s;

}

.primary-button:hover{
    background-color: #302cff;
    color: white;
    width: 90%;
    margin: auto;

}

.inverse-primary-button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius:10px ;
    padding: 16px 22px;
    box-shadow: 0 2px 8px 0 rgba(48, 44, 255, 0.1);
    text-align: center;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.support{
    color: #302cff;
}

.header{
    font-weight: bold;
}

.clients img{
    height: 30px;
}

.footer{
    background-color: #080685;
    color: white;
}

.icon-holder > i{
    position:relative;
    top: calc(50% - 10px); /* 50% - 3/4 of icon height */
}

.card{
    border-radius: 20px;
    box-shadow: 0 2px 8px 0 rgba(48, 44, 255, 0.1);
    cursor: pointer;
    padding: 30px;
    width: 100%;
    transition: width 1s;
    margin-bottom: 3vh;
}

.card:hover{
    box-shadow: 0 2px 8px 0 rgba(48, 44, 255, 0.7);
    color: blue;
    padding: auto;
    width: 98%;

}